In [1]:
import pandas as pd
import os

In [73]:
df = pd.read_excel(r"C:\Users\Niyas\Downloads\Table_10.1_Renewable_Energy_Production_and_Consumption_by_Source.xlsx",header=10)

In [74]:
rows_to_drop = list(range(9))
df_filtered = df.drop(rows_to_drop)
df_filtered

,Month,Wood Energy Production,Biofuels Production,Total Biomass Energy Production,Total Renewable Energy Production,Hydroelectric Power Consumption,Geothermal Energy Consumption,Solar Energy Consumption,Wind Energy Consumption,Wood Energy Consumption,Waste Energy Consumption,Biofuels Consumption,Total Biomass Energy Consumption,Total Renewable Energy Consumption
9,1973-09-01,125.603,Not Available,125.782,185.3,59.029,0.49,Not Available,Not Available,125.603,0.178,Not Available,125.782,185.3
10,1973-10-01,129.769,Not Available,129.97,193.514,62.967,0.578,Not Available,Not Available,129.769,0.2,Not Available,129.97,193.514
11,1973-11-01,125.492,Not Available,125.643,195.326,69.063,0.62,Not Available,Not Available,125.492,0.151,Not Available,125.643,195.326
12,1973-12-01,129.69,Not Available,129.824,220.755,90.131,0.8,Not Available,Not Available,129.69,0.135,Not Available,129.824,220.755
13,1974-01-01,130.655,Not Available,130.807,231.01,99.5,0.704,Not Available,Not Available,130.655,0.152,Not Available,130.807,231.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2023-05-01,174.423,228.993,437.506,740.66,93.759,10.07,90.079,109.246,163.487,34.091,234.334,431.912,735.066
606,2023-06-01,167.973,230.103,429.839,691.709,66.434,9.562,92.024,93.85,156.189,31.763,231.508,419.46,681.33
607,2023-07-01,172.087,232.083,437.109,711.895,72.463,9.84,97.397,95.085,162.093,32.939,223.229,418.262,693.048
608,2023-08-01,176.694,230.241,439.521,711.962,72.15,9.967,93.068,97.256,162.962,32.585,235.024,430.572,703.012
609,2023-09-01,163.957,226.81,422.351,666.253,56.284,9.828,81.595,96.196,152.79,31.584,223.521,407.895,651.798

In [78]:
df_filtered  = df.reset_index(drop=True)
df_filtered  = df.drop(0)

df_filtered

,Month,Wood Energy Production,Biofuels Production,Total Biomass Energy Production,Total Renewable Energy Production,Hydroelectric Power Consumption,Geothermal Energy Consumption,Solar Energy Consumption,Wind Energy Consumption,Wood Energy Consumption,Waste Energy Consumption,Biofuels Consumption,Total Biomass Energy Consumption,Total Renewable Energy Consumption
1,1973-01-01,129.63,Not Available,129.787,219.839,89.562,0.49,Not Available,Not Available,129.63,0.157,Not Available,129.787,219.839
2,1973-02-01,117.194,Not Available,117.338,197.33,79.544,0.448,Not Available,Not Available,117.194,0.144,Not Available,117.338,197.33
3,1973-03-01,129.763,Not Available,129.938,218.686,88.284,0.464,Not Available,Not Available,129.763,0.176,Not Available,129.938,218.686
4,1973-04-01,125.462,Not Available,125.636,209.33,83.152,0.542,Not Available,Not Available,125.462,0.174,Not Available,125.636,209.33
5,1973-05-01,129.624,Not Available,129.834,215.982,85.643,0.505,Not Available,Not Available,129.624,0.21,Not Available,129.834,215.982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2023-05-01,174.423,228.993,437.506,740.66,93.759,10.07,90.079,109.246,163.487,34.091,234.334,431.912,735.066
606,2023-06-01,167.973,230.103,429.839,691.709,66.434,9.562,92.024,93.85,156.189,31.763,231.508,419.46,681.33
607,2023-07-01,172.087,232.083,437.109,711.895,72.463,9.84,97.397,95.085,162.093,32.939,223.229,418.262,693.048
608,2023-08-01,176.694,230.241,439.521,711.962,72.15,9.967,93.068,97.256,162.962,32.585,235.024,430.572,703.012
609,2023-09-01,163.957,226.81,422.351,666.253,56.284,9.828,81.595,96.196,152.79,31.584,223.521,407.895,651.798

In [79]:
# Selecting columns related to production
production_columns = ['Month', 'Wood Energy Production', 'Biofuels Production', 'Total Biomass Energy Production',
                       'Total Renewable Energy Production']
df_production = df[production_columns]
df_production = df_production.drop(0)

# Selecting columns related to consumption
consumption_columns = ['Month', 'Hydroelectric Power Consumption', 'Geothermal Energy Consumption',
                       'Solar Energy Consumption', 'Wind Energy Consumption', 'Wood Energy Consumption', 'Waste Energy Consumption',
                       'Biofuels Consumption', 'Total Biomass Energy Consumption', 'Total Renewable Energy Consumption']

df_consumption = df[consumption_columns]
df_consumption = df_consumption.drop(0)

In [80]:
df_production

,Month,Wood Energy Production,Biofuels Production,Total Biomass Energy Production,Total Renewable Energy Production
1,1973-01-01,129.63,Not Available,129.787,219.839
2,1973-02-01,117.194,Not Available,117.338,197.33
3,1973-03-01,129.763,Not Available,129.938,218.686
4,1973-04-01,125.462,Not Available,125.636,209.33
5,1973-05-01,129.624,Not Available,129.834,215.982
...,...,...,...,...,...
605,2023-05-01,174.423,228.993,437.506,740.66
606,2023-06-01,167.973,230.103,429.839,691.709
607,2023-07-01,172.087,232.083,437.109,711.895
608,2023-08-01,176.694,230.241,439.521,711.962
609,2023-09-01,163.957,226.81,422.351,666.253

In [81]:
df_consumption

,Month,Hydroelectric Power Consumption,Geothermal Energy Consumption,Solar Energy Consumption,Wind Energy Consumption,Wood Energy Consumption,Waste Energy Consumption,Biofuels Consumption,Total Biomass Energy Consumption,Total Renewable Energy Consumption
1,1973-01-01,89.562,0.49,Not Available,Not Available,129.63,0.157,Not Available,129.787,219.839
2,1973-02-01,79.544,0.448,Not Available,Not Available,117.194,0.144,Not Available,117.338,197.33
3,1973-03-01,88.284,0.464,Not Available,Not Available,129.763,0.176,Not Available,129.938,218.686
4,1973-04-01,83.152,0.542,Not Available,Not Available,125.462,0.174,Not Available,125.636,209.33
5,1973-05-01,85.643,0.505,Not Available,Not Available,129.624,0.21,Not Available,129.834,215.982
...,...,...,...,...,...,...,...,...,...,...
605,2023-05-01,93.759,10.07,90.079,109.246,163.487,34.091,234.334,431.912,735.066
606,2023-06-01,66.434,9.562,92.024,93.85,156.189,31.763,231.508,419.46,681.33
607,2023-07-01,72.463,9.84,97.397,95.085,162.093,32.939,223.229,418.262,693.048
608,2023-08-01,72.15,9.967,93.068,97.256,162.962,32.585,235.024,430.572,703.012
609,2023-09-01,56.284,9.828,81.595,96.196,152.79,31.584,223.521,407.895,651.798

In [67]:
c= pd.read_csv(r"C:\Users\Niyas\Downloads\iou_zipcodes_2020.csv")

In [10]:
c

,zip,eiaid,utility_name,state,service_type,ownership,comm_rate,ind_rate,res_rate
0,85321,176,Ajo Improvement Co,AZ,Bundled,Investor Owned,0.087890,0.000000,0.093887
1,36560,195,Alabama Power Co,AL,Bundled,Investor Owned,0.121895,0.063652,0.135057
2,36513,195,Alabama Power Co,AL,Bundled,Investor Owned,0.121895,0.063652,0.135057
3,36280,195,Alabama Power Co,AL,Bundled,Investor Owned,0.121895,0.063652,0.135057
4,35473,195,Alabama Power Co,AL,Bundled,Investor Owned,0.121895,0.063652,0.135057
...,...,...,...,...,...,...,...,...,...
52172,96146,57483,Liberty Utilities,CA,Bundled,Investor Owned,0.146224,0.000000,0.140019
52173,96161,57483,Liberty Utilities,CA,Bundled,Investor Owned,0.146224,0.000000,0.140019
52174,96133,57483,Liberty Utilities,CA,Bundled,Investor Owned,0.146224,0.000000,0.140019
52175,96118,57483,Liberty Utilities,CA,Bundled,Investor Owned,0.146224,0.000000,0.140019
52176,96107,57483,Liberty Utilities,CA,Bundled,Investor Owned,0.146224,0.000000,0.140019